html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

form {
    margin-top: 10%;
    font-family: 'Calibri', sans-serif;
}

.title > h1 {
    color: #31517e;
    font-size: 14px;
}

.form-control::-webkit-input-placeholder { color: rgba(219, 219, 219, .8); }
.form-control:-moz-placeholder { color: rgba(219, 219, 219, .8); }
.form-control::-moz-placeholder { color: rgba(219, 219, 219, .8); }
.form-control:-ms-input-placeholder { color: rgba(219, 219, 219, .8); }

#usr, #email, #pass, #conf, #fname, #lname, #phone, #country, #tick {
    background-color: transparent;
    border: 2px solid rgba(219, 219, 219);
    padding: 20px;
    font-size: 16px;
    color: rgb(219, 219, 219);
}

#country {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    border-radius: 3px;
    color: rgba(219, 219, 219, .8);
}

.radio-group > label {
    font-weight: normal;
    font-size: 16px;
    color: rgba(219, 219, 219, .8);
}

#leader, #echoer {
    margin-right: 5px;
}

.account-title > h1 {
    color: #31517e;
    font-size: 14px;
    margin-top: 20px;
}

#create {
    margin-left: 40%;
    margin-bottom: 100px;
    width: 20%;
    padding: 10px;
    font-size: 18px;
    background-color: #999999;
    border-color: #505050;
}

@media (max-width: 768px) {
    #create {
        margin-left: 30%;
        width: 40%;
        padding: 10px;
        font-size: 18px;
        background-color: #999999;
        border-color: #505050;
    }

}
