<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="profile_settings.css" type="text/css"> -->
    </head>
    <body>
        <div class="container-fluid">
            <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">PROFILE IMAGE</label>
                        <div class="col-sm-2">
                            <img class="img-circle" ng-src="{{ctrl.loggedInUser.Avatar}}" ng-if="ctrl.loggedInUser.Avatar" />
                            <img class="img-circle" src="./images/user.png" ng-if="!ctrl.loggedInUser.Avatar" />
                        </div>

                        <div class="col-sm-2">
                            <button class="btn btn-default btn-sm" id="btn-upload-avatar">UPLOAD IMAGE</button>
                        </div>

                        <div id="upload-avatar-container"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">FIRST NAME</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="First Name" ng-model="ctrl.loggedInUser.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">LAST NAME</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Last Name" ng-model="ctrl.loggedInUser.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">EMIAL</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Email" ng-model="ctrl.loggedInUser.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">USERNAME</label>
                        <div class="col-sm-4">
                            <input class="form-control " type="text" placeholder="Username" ng-model="ctrl.loggedInUser.Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">TICKER</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Ticker" ng-model="ctrl.loggedInUser.TickerSymbol">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">UPDATE PROFILE</button>
                        </div>
                    </div>
                </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
